<div class="container">
    <h3>
        Details of Employee
    </h3>
    <div class="row">
        <div class="col-12">
            <label for="id">Id: <b>{{this.employee.id}}</b> </label>
        </div>
        <div class="col-12">
            <label for="name">Name: <b>{{this.employee.name}}</b> </label>
        </div>
        <div class="col-12">
            <label for="lastname">Lastname: <b>{{this.employee.lastname}}</b> </label>
        </div>
        <div class="col-12">
            <label for="email">Email: <b>{{this.employee.email}}</b> </label>
        </div>
    </div>
</div>